{% extends "base.twig" %}

{% block content %}
    {% if flash %}
        <p class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</p>
    {% endif %}
    <h1>About</h1>
    <p>reia.dev is the hub for projects utilized by the Parentheses community. It includes information about our roleplaying settings, experiments with the DM language, and anything else we have going on. It is maintained by Andrew. For any and all inquiries, shoot an e-mail to <a href="mailto:lordovos@live.com">lordovos@live.com</a>.</p>
    <p>The source code is available on <a href="https://github.com/Lordovos/reia-dev">GitHub</a>.</p>
    <p>reia.dev is built with the following technologies:</p>
    <ul>
        <li><a href="https://github.com/bramus/router">bramus/router</a>, for routing all requests.</li>
        <li><a href="https://twig.symfony.com">Twig</a>, for template rendering.</li>
        <li><a href="https://textile-lang.com">Textile</a>, for powering the markup language used by the wiki.</li>
        <li><a href="https://github.com/vlucas/phpdotenv">Dotenv</a>, for handling environment variables.</li>
        <li><a href="https://pimple.symfony.com">Pimple</a>, a dependency injection container.</li>
    </ul>
{% endblock %}
