{% extends "base.twig" %}

{% block og %}
    <meta property="og:title" content="{{ title|e }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reia.dev">
    <meta property="og:image" content="https://reia.dev/logo.png">
    <meta property="og:site_name" content="reia.dev">
{% endblock %}

{% block content %}
    {% if flash %}
        <p class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</p>
    {% endif %}
    <p>Welcome to reia.dev (v{{ version }})! If you're here from the Parentheses community, then you'll already know what this is about. If you're new, make sure to check out the about page and have a look at the forum.</p>
    <p>We're on <a href="https://www.patreon.com/reiadev">Patreon</a>! Every bit helps to get our operation up and running.</p>
{% endblock %}
