{% extends "base.twig" %}

{% block og %}
    <meta property="og:title" content="{{ title|e }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reia.dev/register">
    <meta property="og:image" content="https://reia.dev/logo.png">
    <meta property="og:site_name" content="reia.dev">
{% endblock %}

{% block content %}
    {% if flash %}
        <p class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</p>
    {% endif %}
    <h1>Register</h1>
    <form action="/register" method="post">
        <input type="hidden" name="csrf-token" value="{{ csrf_token }}">
        <div>
            <label for="input-username">Username</label>
        </div>
        <div>
            <input type="text" name="username" id="input-username">
        </div>
        <div>
            <label for="input-password">Password</label>
        </div>
        <div>
            <input type="password" name="password" id="input-password">
        </div>
        <div>
            <label for="input-email">E-mail Address</label>
        </div>
        <div>
            <input type="email" name="email" id="input-email">
        </div>
        <div>
            <button type="submit" class="form-button">Register User</button>
        </div>
    </form>
{% endblock %}
