{% extends "base.twig" %}

{% block og %}
    <meta property="og:title" content="{{ title|e }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reia.dev/wiki/upload">
    <meta property="og:image" content="https://reia.dev/logo.png">
    <meta property="og:site_name" content="reia.dev">
{% endblock %}

{% block content %}
    {% if flash %}
        <p class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</p>
    {% endif %}
    <h1>Upload Image</h1>
    <form action="/wiki/upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf-token" value="{{ csrf_token }}">
        <div>
            <label for="input-upload">Select image to upload:</label>
        </div>
        <div>
            <input type="file" name="upload" id="input-upload">
        </div>
        <button type="submit" class="form-button">Upload Image</button>
    </form>
{% endblock %}
