{% extends "base.twig" %}

{% block content %}
    {% if flash %}
        <p class="alert alert-{{ flash.type }}">{{ flash.message|raw }}</p>
    {% endif %}
    <h1>Upload Image</h1>
    <form action="/wiki/upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf-token" value="{{ csrf_token }}">
        <div>
            <label for="input-upload">Select image to upload:</label>
        </div>
        <div>
            <input type="file" name="upload" id="input-upload">
        </div>
        <button type="submit">Upload Image</button>
    </form>
{% endblock %}
