html {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.alert {
    border: 1px solid #000000;
    border-radius: 0.25em;
    padding: 0.75em;
    width: 24em;
}
.alert-error {
    color: #8b0000;
    background-color: #ffb6c1;
}
.alert-warning {
    color: #b8860b;
    background-color: #fafad2;
}
.alert-success {
    color: #006400;
    background-color: #90ee90;
}
.alert-info {
    color: #00008b;
    background-color: #add8e6;
}
table {
    border-collapse: collapse;
    margin-top: 1em;
}
th, td {
    border: 1px solid #000000;
    padding: 0.5em;
}
table tr:nth-child(even) {
    background-color: #d6d6d6;
}
nav {
    background-color: #cc3300;
    display: inline-block;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
    padding: 0 1em 0 1em;
}
nav ul li a {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    font-weight: bold;
}
main {
    margin: 1em;
}
footer {
    margin: 1em;
}
article {
    border: 2px solid #000000;
    padding: 1em;
    margin: 1em 0 1em 0;
}
img {
    image-rendering: pixelated;
}
.main-header {
    background-color: #cc3300;
    border-bottom: 2px solid #000000;
}
.main-header p {
    margin: 0;
    padding: 0.5em;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    display: inline-block;
    font-size: 200%;
    font-weight: bold;
}
.main-header a {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}
.infobox {
    float: right;
}
.clear {
    clear: both;
}
table.infobox {
    min-width: 16em;
    width: 20em;
    margin: 0.5em;
}
table.infobox th, td {
    padding: 0.5em;
}
.table-of-contents {
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    width: 20em;
    padding: 1em 1em 1em 2em;
}
.invalid-link {
    color: #ff0000;
}
hr {
    border: 1px solid #000000;
    box-shadow: 2px 2px #cc3300;
}
.article-byline {
    font-size: 90%;
}
article.search-result {
    padding: 0;
}
.search-result h2 {
    margin: 0.5em;
}
.search-result .article-byline {
    margin: 0.5em;
}
.logo {
    vertical-align: middle;
    margin-right: 0.25em;
}
textarea {
    padding: 0.5em 0.5em;
    max-width: 100%;
}
input {
    max-width: 100%;
}
.article-button {
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    padding: 0.5em;
}
.search-container {
    display: flex;
    width: 20em;
}
button {
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
}
input, button {
    font-size: 100%;
    font-family: inherit;
    padding: 0.5em 0.5em;
}
.search-box {
    flex: 1;
    border: 1px solid #cccccc;
    padding: 0.5em 0.5em;
}
.search-box:not(:last-child) {
    border-right: 0;
}
.search-button {
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    padding: 0.5em 0.75em;
    border-radius: 0 0.10em 0.10em 0;
}
.topic-post {
    padding: 0;
    border: 1px solid #cccccc;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
}
.post-info {
    background-color: #e8e8e8;
    font-size: 90%;
    border-bottom: 1px solid #cccccc;
}
.post-info p {
    margin: 0;
    padding: 0.5em;
}
.post-body {
    display: table;
}
.post-user {
    padding: 1em;
    width: 12em;
    text-align: center;
    background-color: #f8f8f8;
    border-right: 1px solid #cccccc;
    vertical-align: top;
    display: table-cell;
}
.post-content {
    padding: 1em;
    display: table-cell;
}
.post-date {
    padding-left: 1em;
}
.post-avatar {
    display: block;
    margin: 0.75em auto 0 auto;
}
.post-role-administrator {
    font-weight: bold;
    margin-top: 0.75em;
    display: block;
    color: #cc3300;
}
.topic-reply {
    margin-top: 2em;
    text-align: center;
}
.topic-overview {
    padding: 0;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    display: table;
    border-collapse: collapse;
    width: 100%;
}
.category-overview {
    padding: 0;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    display: table;
    border-collapse: collapse;
    width: 100%;
}
.category-head {
    display: table-cell;
    border-right: 1px solid #cccccc;
    width: 60%;
}
.category-foot {
    display: table-cell;
}
.category-description {
    display: block;
}
.topic-byline {
    display: block;
}
.category-overview p {
    padding: 0.5em;
}
.topic-overview p {
    padding: 0.5em;
}
.topic-section {
    display: table-row;
}
.topic-section:not(:last-child) {
    border-bottom: 1px solid #cccccc;
}
.topic-section:nth-child(even) {
    background-color: #ffffff;
}
.topic-subject {
    display: table-cell;
    border-right: 1px solid #cccccc;
}
.topic-replies {
    display: table-cell;
    border-right: 1px solid #cccccc;
    text-align: center;
}
.topic-started-by {
    display: table-cell;
    border-right: 1px solid #cccccc;
}
.topic-last-reply {
    display: table-cell;
}
.post-update {
    float: right;
}
.form-info {
    font-size: 90%;
    font-style: italic;
    margin: 0;
}
.admin-table {
    width: 40em;
}
@media (min-width: 320px) and (max-width: 480px) {
    table.infobox {
        display: block;
        float: none;
        margin: auto;
        max-width: 100%;
    }
    .table-of-contents {
        margin: auto;
        max-width: 100%;
    }
    .alert {
        max-width: 100%;
    }
    .post-user {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #cccccc;
        vertical-align: top;
    }
    .post-user p {
        margin: 0;
    }
    .post-body, .post-user, .post-content {
        display: block;
    }
    .topic-started-by {
        display: none;
    }
    .category-description {
        display: none;
    }
    .post-update {
        float: none;
        display: block;
    }
    .admin-table {
        width: 100%;
    }
}
